<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>add.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovefromCart</servlet-name>
        <servlet-class>add.RemovefromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoSales</servlet-name>
        <servlet-class>add.AddtoSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLike</servlet-name>
        <servlet-class>add.AddLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BreadLikes</servlet-name>
        <servlet-class>add.BreadLikes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CakeLikes</servlet-name>
        <servlet-class>add.CakeLikes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookiesLikes</servlet-name>
        <servlet-class>add.CookiesLikes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoughnutsLikes</servlet-name>
        <servlet-class>add.DoughnutsLikes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allocate</servlet-name>
        <servlet-class>add.Allocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_Registration</servlet-name>
        <servlet-class>add.Customer_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clogin</servlet-name>
        <servlet-class>add.Clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>add.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chart</servlet-name>
        <servlet-class>add.Chart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateFrSales</servlet-name>
        <servlet-class>add.AllocateFrSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mregister</servlet-name>
        <servlet-class>add.mregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mlogin</servlet-name>
        <servlet-class>mlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mlogin</servlet-name>
        <servlet-class>add.Mlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddP</servlet-name>
        <servlet-class>add.AddP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quantity</servlet-name>
        <servlet-class>add.Quantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaff</servlet-name>
        <servlet-class>add.RegisterStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mf</servlet-name>
        <servlet-class>add.mf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReallocate</servlet-name>
        <servlet-class>add.SalesReallocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCart</servlet-name>
        <servlet-class>add.ToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demandAllocation</servlet-name>
        <servlet-class>add.demandAllocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovefromCart</servlet-name>
        <url-pattern>/RemovefromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoSales</servlet-name>
        <url-pattern>/AddtoSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLike</servlet-name>
        <url-pattern>/AddLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BreadLikes</servlet-name>
        <url-pattern>/BreadLikes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CakeLikes</servlet-name>
        <url-pattern>/CakeLikes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookiesLikes</servlet-name>
        <url-pattern>/CookiesLikes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoughnutsLikes</servlet-name>
        <url-pattern>/DoughnutsLikes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allocate</servlet-name>
        <url-pattern>/Allocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_Registration</servlet-name>
        <url-pattern>/Customer_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clogin</servlet-name>
        <url-pattern>/Clogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chart</servlet-name>
        <url-pattern>/Chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateFrSales</servlet-name>
        <url-pattern>/AllocateFrSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mregister</servlet-name>
        <url-pattern>/mregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mlogin</servlet-name>
        <url-pattern>/mlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mlogin</servlet-name>
        <url-pattern>/Mlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddP</servlet-name>
        <url-pattern>/AddP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quantity</servlet-name>
        <url-pattern>/Quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaff</servlet-name>
        <url-pattern>/RegisterStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mf</servlet-name>
        <url-pattern>/mf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReallocate</servlet-name>
        <url-pattern>/SalesReallocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCart</servlet-name>
        <url-pattern>/ToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demandAllocation</servlet-name>
        <url-pattern>/demandAllocation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
